.remote
  - remote_form_for(@contact, :html => one_submit_only(:contact)) do |f|
    hello
    = link_to_close edit_contact_path(@contact)
    .buttonbar
      = f.submit t(:merge_contacts), :onclick => "crm.merge_contacts(); return false;"
      #{t :or}
      = link_to_cancel edit_contact_path(@contact)

