= link_to(t('merge'), "#", :id => "merge_contact_#{contact.id}") + " | "
= load_merge_select_popup_for(contact)
= javascript_tag(render(:partial => "common/merge_select_popup", :locals  => { :asset => contact }))
